.tyagi{
    color: rgba(231, 72, 9, 0.966);
}
#ui{
    letter-spacing: 5px;
    font-size: small;
}
#manth{
    text-decoration: none;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}